* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
    list-style-type: none;
}

nav {
    height: 80px;
    background: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
}

.name {
    background-color: #000000;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 0 1.5rem;
}

.sub {
    color: #fff;
    background-color: #000000;
    text-align: center;
    font-weight: bold;
}

.hero {
    max-width: 100%;
    margin: 0 auto;
    height: 95vh;
    padding: 1.5rem;
}

.grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
}
 

.column-right p{
    justify-content: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
}

.column-right {
    display: flex;
    justify-content: left;
    padding: 0rem 2rem;
}

#about1 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #fff;
    padding: 0 2rem;
}

#work1 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #fff;
    padding: 0 2rem;
}

#contact {
    text-align: center;
    color: #fff;
    padding: 0 1.5rem;
    background-color: #000000;
}

.hero {
    background-color: gray;
}